RuruPeru_ECommers/Connected Services/VentasServicio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52463/Ventas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52463/Ventas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52463/Ventas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VENTAS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ventas_ListarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientes" />
  </wsdl:message>
  <wsdl:message name="Ventas_ListarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="Ventas_ListarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProveedor" />
  </wsdl:message>
  <wsdl:message name="Ventas_ListarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="Ventas_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="Ventas_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="Ventas_ActualizarStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarStock" />
  </wsdl:message>
  <wsdl:message name="Ventas_ActualizarStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarStockResponse" />
  </wsdl:message>
  <wsdl:message name="Ventas_RealizarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizarVenta" />
  </wsdl:message>
  <wsdl:message name="Ventas_RealizarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizarVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="Ventas">
    <wsdl:operation name="ListarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/Ventas/ListarClientes" message="tns:Ventas_ListarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ventas/ListarClientesResponse" message="tns:Ventas_ListarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/Ventas/ListarProveedor" message="tns:Ventas_ListarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ventas/ListarProveedorResponse" message="tns:Ventas_ListarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/Ventas/ListarProductos" message="tns:Ventas_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ventas/ListarProductosResponse" message="tns:Ventas_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <wsdl:input wsaw:Action="http://tempuri.org/Ventas/ActualizarStock" message="tns:Ventas_ActualizarStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ventas/ActualizarStockResponse" message="tns:Ventas_ActualizarStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/Ventas/RealizarVenta" message="tns:Ventas_RealizarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ventas/RealizarVentaResponse" message="tns:Ventas_RealizarVenta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Ventas" type="tns:Ventas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarClientes">
      <soap:operation soapAction="http://tempuri.org/Ventas/ListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProveedor">
      <soap:operation soapAction="http://tempuri.org/Ventas/ListarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/Ventas/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <soap:operation soapAction="http://tempuri.org/Ventas/ActualizarStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <soap:operation soapAction="http://tempuri.org/Ventas/RealizarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Ventas" binding="tns:BasicHttpBinding_Ventas">
      <soap:address location="http://localhost:52463/Ventas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>