RuruPeru_ECommers/Connected Services/VentasServicio/Ventas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VENTAS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VENTAS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proveedor" nillable="true" type="tns:Proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProveedor" nillable="true" type="tns:ArrayOfProveedor" />
  <xs:complexType name="Proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomProv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proveedor" nillable="true" type="tns:Proveedor" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="stockProducto" type="xs:int" />
      <xs:element minOccurs="0" name="tituloProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ItemProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="precioProducto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemProducto" nillable="true" type="tns:ItemProducto" />
  <xs:complexType name="ArrayOfItemProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemProducto" nillable="true" type="tns:ItemProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemProducto" nillable="true" type="tns:ArrayOfItemProducto" />
</xs:schema>