RuruPeru_ECommers/Connected Services/ServiceConsulta/Consulta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CONSULTA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CONSULTA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fotoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacCliente" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proveedor" nillable="true" type="tns:Proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProveedor" nillable="true" type="tns:ArrayOfProveedor" />
  <xs:complexType name="Proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dniProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rucProveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proveedor" nillable="true" type="tns:Proveedor" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="stockProducto" type="xs:int" />
      <xs:element minOccurs="0" name="tituloProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="ArrayOfEstadoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoUsuario" nillable="true" type="tns:EstadoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoUsuario" nillable="true" type="tns:ArrayOfEstadoUsuario" />
  <xs:complexType name="EstadoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEstadoUsuario" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoUsuario" nillable="true" type="tns:EstadoUsuario" />
</xs:schema>